﻿@model Logistik.ViewModel.BarangViewModel
<div class="form-group">
    <label class="col-md-3 control-label">Nama Barang</label>
    <div class="col-md-9">
        <input type="text" class="form-control" readonly="readonly" value="@Model.NamaBarang" />
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label">Satuan</label>
    <div class="col-md-9">
        <input type="text" class="form-control" readonly="readonly" value="@Model.Satuan" />
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label">Berat</label>
    <div class="col-md-9">
        <input type="text" class="form-control" readonly="readonly" value="@Model.Berat" />
    </div>
</div>
