﻿@model IEnumerable<Logistik.ViewModel.SuratJalanViewModel>
    
        
            <tr>
                @foreach (var item in Model)
                {
                    <td>@item.KodeSuratJalan</td>
                    <td>@item.TglSuratJalan</td>
                    <td>@item.NamaDriver</td>
                    <td>@item.MerkKendaraan</td>
                    <td>@item.NomorPolisi</td>
                    <td>@item.NomorGudang</td>
                    <td align="center">
                        <a class="btn btn-warning btn-xs detail" href="@Url.Action("Detail","SuratJalan",new {id=item.Id })" title="Detail"><i class="glyphicon glyphicon-eye-open"></i></a>
                    </td>
                }
            </tr>
        
    
