﻿@model Logistik.ViewModel.BarangDetailViewModel

<div style="display:none;">
    <input type="text" readonly="readonly" class="form-control barang" name="BarangDetail[__id__].Id" value="@Model.Id" />
</div>
<div class="col-md-3">
    <input type="text" readonly="readonly" class="form-control barang" id="NamaBarang__id__" name="BarangDetail[__id__].NamaBarang" value="@Model.NamaBarang" />
</div>
<div class="col-md-3">
    <input type="text" readonly="readonly" class="form-control barang" id="Satuan__id__" name="BarangDetail[__id__].Satuan" value="@Model.Satuan" />
</div>
<div class="col-md-2">
    <input type="text" readonly="readonly" class="form-control barang" id="Berat__id__" name="BarangDetail[__id__].Berat" value="@Model.Berat" />
</div>
<div class="col-md-4">
    <input type="text" readonly="readonly" class="form-control barang" id="Keterangan__id__" name="BarangDetail[__id__].Keterangan" value="@Model.Keterangan" />
</div>
