﻿@model IEnumerable<Logistik.ViewModel.BarangDetailViewModel>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-group", @id = "form-tambahbarang" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true,"",new {@class="text-danger" })
        
        <div class="form-group">
            <label class="col-md-3 control-label">Pilih Id Barang</label>
            <div class="col-md-9">
                <select class="form-control" id="pilih-data">
                    <option>Pilih Id Barang</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Id - @item.KodePengiriman</option>
                    }
                </select>
            </div>
        </div>
        <div id="data-barang">
            <div class="form-group">
                <label class="col-md-3 control-label">Nama Barang</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" readonly="readonly"  />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Satuan</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" readonly="readonly"   />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Berat</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" readonly="readonly" />
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button"class="pull-right" id="simpan-barang">Simpan</button>
            <button type="reset" class="pull-left">Reset</button>
        </div>
    }
