﻿@model Logistik.ViewModel.SuratJalanViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="content-header"></section>
    
    <section class="invoice">
        <div class="row ">
            <div class="col-md-12">
                <h2 class="page-header">
                    Detail Surat Jalan #@Model.KodeSuratJalan
                </h2>
            </div>
        </div>
    </section>
