﻿@model IEnumerable<Logistik.ViewModel.SuratJalanViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Data Surat Jalan</h3>
        <div class="box-tools">
            <a class="btn btn-success btn-sm" href="@Url.Action("Insert","SuratJalan")" id="btn-add" title="Create New Data"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <td>Kode Surat Jalan</td>
                    <td>Tanggal Surat Jalan</td>
                    <td>Nama Driver</td>
                    <td>Merk Kendaraan</td>
                    <td>Nomor Polisi</td>
                    <td>Nomor Gudang</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody id="list-data">
                @Html.Partial("_List",Model)
            </tbody>
        </table>
    </div>
</div>

