﻿@model Logistik.ViewModel.SuratJalanViewModel
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", @id = "form-suratjalan" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <section class="invoice">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header text-info">
                    Create Data Surat Jalan
                    <small class="pull-right">Today: <span id="time"></span></small>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Kode Surat Jalan</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.KodeSuratJalan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.KodeSuratJalan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Nama Driver</label>
                    <div class="col-md-9">
                        <select class="form-control" name="DriverId">
                            <option>Pilih Driver</option>
                            @foreach (var item in Model.ListDriver)
                            {
                                <option value="@item.Id">@item.Nama</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Kendaraan</label>
                    <div class="col-md-9">
                        <select class="form-control" name="KendaraanId">
                            <option>Merek Kendaraan</option>
                            @foreach (var item in Model.ListKendaraan)
                            {
                                <option value="@item.Id">@item.Merk - @item.NoPol</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Nomor Gudang</label>
                    <div class="col-md-9">
                        <select class="form-control" name="GudangId">
                            <option>Nomor Gudang</option>
                            @foreach (var item in Model.ListGudang)
                            {
                                <option value="@item.Id">@item.NoGudang - @item.Alamat</option>
                            }
                        </select>
                    </div>
                </div>
                <button type="button" id="btn-add">Tambah Barang</button>
            </div>

            <div class="col-md-6">
                <div class="col-md-3">
                    <label class="control-label">Nama Barang</label>
                </div>
                <div class="col-md-3">
                    <label class="control-label">Satuan</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Berat</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Keterangan</label>
                </div>

                <div id="item-barang">
                    <div class="form-group" style="display:none;">
                        <div class="col-md-12" id="data-item-barang">
                            <div style="display:none;">
                                <input type="text" readonly="readonly" class="form-control barang" name="BarangDetail[__id__].Id" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" readonly="readonly" class="form-control barang" id="NamaBarang__id__" name="BarangDetail[__id__].NamaBarang" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" readonly="readonly" class="form-control barang" id="Satuan__id__" name="BarangDetail[__id__].Satuan" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" readonly="readonly" class="form-control barang" id="Berat__id__" name="BarangDetail[__id__].Berat" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" readonly="readonly" class="form-control barang" id="Keterangan__id__" name="BarangDetail[__id__].Keterangan" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="list-barang">

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" type="submit">Submit</button>
            </div>
        </div>
    </section>

        <div class="modal fade" id="modal-input">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Default Modal</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
}
@section Scripts
    {
    <script>
        $(document).ready(function ()
        {
            var index = $("#list-barang #item-barang").length;
            var item;
            $("#modal-input").on("click", "#simpan-barang", function () {
                var vId = $("#pilih-data").val();
                $.ajax(
                    {
                        url: '@Url.Action("ListBarang","SuratJalan")',
                        type: 'get',
                        dataType: 'html',
                        data: { id: vId },
                        success: function (data)
                        {
                            $("#modal-input").modal("hide");
                            $("#item-barang").find("#data-item-barang").html(data);
                            item = $("#item-barang").find("#data-item-barang").html().replace(/__id__/g, index);
                            $("#list-barang").append('<div class="form-group"><div class="col-md-12">'+item+'</div></div>');
                            index++;
                        }
                    });

            });

        });
        $("#btn-add").click(function () {
            $.ajax(
                {
                    url: '@Url.Action("TambahBarang","SuratJalan")',
                    type: 'get',
                    dataType: 'html',
                    success: function (data) {
                        $("#modal-input").find(".modal-title").html("Tambah Data Barang")
                        $("#modal-input").find(".modal-body").html(data);
                        $("#modal-input").modal("show");
                    }

                });
        });
        $("#modal-input").on("change", "#pilih-data", function () {
            var vId = $(this).val();
            $.ajax(
                {
                    url: '@Url.Action("DataBarang","SuratJalan")',
                    type: 'get',
                    dataType: 'html',
                    data: { id: vId },
                    success: function (data)
                    {
                        $("#modal-input").find("#data-barang").html(data);
                    }
                });
        });

        $("#form-suratjalan").on("submit", "#form-suratjalan", function ()
        {
            $.ajax(
                {
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    dataType:'json',
                    data: $(this).serialize(),
                    success: function (data)
                    {

                    }
                })
        });

    </script>
}