﻿ <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            @*<li class="active treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>*@
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Master Data</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index","Kota")"><i class="fa fa-circle-o"></i> Kota</a></li>
                    <li><a href="@Url.Action("Index","JenisPengiriman")"><i class="fa fa-circle-o"></i> Jenis Pengiriman</a></li>
                    <li><a href="@Url.Action("Index","Pengirim")"><i class="fa fa-circle-o"></i> Pengirim</a></li>
                    <li><a href="@Url.Action("Index","Penerima")"><i class="fa fa-circle-o"></i> Penerima</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Barang</a></li>
                    <li><a href="@Url.Action("Index","Gudang")"><i class="fa fa-circle-o"></i> Gudang</a></li>
                    <li><a href="@Url.Action("Index","Driver")"><i class="fa fa-circle-o"></i> Driver</a></li>
                    <li><a href="@Url.Action("Index","Kendaraan")"><i class="fa fa-circle-o"></i>Kendaraan</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index","Pengiriman")">
                    <i class="fa fa-list"></i> <span>Transaksi Pengiriman</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

