﻿@model Logistik.ViewModel.PengirimViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-pengirim", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)

    <p>Are you sure want to delete this&hellip;?</p>

    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>Nama Pengirim</label>
        </div>
        @Html.DisplayFor(x => x.NamaPengirim)
    </div>

    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>Kota Asal</label>
        </div>
        @Html.DisplayFor(x => x.NamaKota)
    </div>

    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>Kode Pos</label>
        </div>
        @Html.DisplayFor(x => x.KodePos)
    </div>

    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>Contact</label>
        </div>
        @Html.DisplayFor(x => x.NoTelp)
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
}
