﻿@model Logistik.ViewModel.PengirimViewModel

<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Nama Pengirim</label>
    </div>
    @Html.DisplayFor(x => x.NamaPengirim)
</div>

<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Kota Asal</label>
    </div>
    @Html.DisplayFor(x => x.NamaKota)
</div>

<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Kode Pos</label>
    </div>
    @Html.DisplayFor(x => x.KodePos)
</div>

<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Contact</label>
    </div>
    @Html.DisplayFor(x => x.NoTelp)
</div>