﻿@model Logistik.ViewModel.PengirimViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-pengirim", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.KotaAsalId)

    <div class="form-group">
        <label class="control-label col-md-4">Nama Pengirim</label>
        <div class="col-md-8">
            @Html.EditorFor(x => x.NamaPengirim, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.NamaPengirim, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4">Kode Pos</label>
        <div class="col-md-8">
            @Html.EditorFor(x => x.KodePos, new { htmlAttributes = new { @class = "form-control", @max = "5" } })
            @Html.ValidationMessageFor(x => x.KodePos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4">Contact</label>
        <div class="col-md-8">
            @Html.EditorFor(x => x.NoTelp, new { htmlAttributes = new { @class = "form-control", @max = "12" } })
            @Html.ValidationMessageFor(x => x.NoTelp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="modal-footer">
        <button type="reset" class="btn btn-default pull-left">Reset</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
}
