﻿@model Logistik.ViewModel.PengirimViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-pengirim", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-4">Nama Pengirim</label>
        <div class="col-md-8">
            <input type="text" name="NamaPengirim" class="form-control" />
            @Html.ValidationMessageFor(x => x.NamaPengirim, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4"></label>
        <div class="col-md-8">
            <input type="radio" class="radio-kota1" id="radio-kota" name="radio-kota" value="1" /> Pilih Kota
            <input type="radio" class="radio-kota2" id="radio-kota" name="radio-kota" value="2" /> Tambah Kota Baru
        </div>
    </div>

    <div id="data-kota">

    </div>

    <div class="form-group">
        <label class="control-label col-md-4">Kode Pos</label>
        <div class="col-md-8">
            <input type="text" name="KodePos" class="form-control" />
            @Html.ValidationMessageFor(x => x.KodePos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4">Contact</label>
        <div class="col-md-8">
            <input type="text" name="NoTelp" class="form-control" />
            @Html.ValidationMessageFor(x => x.NoTelp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="modal-footer">
        <button type="reset" class="btn btn-default pull-left">Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}
