﻿@model IEnumerable<Logistik.ViewModel.KotaViewModel>

<div class="form-group">
    <label class="control-label col-md-4">Kota</label>
    <div class="col-md-8">
        <select class="form-control" id="select-kota" name="KotaAsalId">
            <option>Pilih Kota</option>
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.NamaKota</option>
            }
        </select>
    </div>
</div>
