﻿@model Logistik.ViewModel.PengirimViewModel

<div class="form-group">
    <label class="control-label col-md-4">Kota</label>
    <div class="col-md-8">
        <input type="text" name="NamaKota" class="form-control" />
        @Html.ValidationMessageFor(x => x.NamaKota, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-4">Harga</label>
    <div class="col-md-8">
        <input type="number" name="Harga" class="form-control" min="15000" step="5000" />
        @Html.ValidationMessageFor(x => x.Harga, "", new { @class = "text-danger" })
    </div>
</div>
