﻿@model Logistik.ViewModel.KotaViewModel

<div class="form-group" style="display:none;">
    <label class="control-label col-md-4">Id</label>
    <div class="col-md-8">
        <input type="text" readonly="readonly" value="@Model.Id" name="KotaAsalId" class="form-control" />
        @Html.ValidationMessageFor(x => x.Id, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">Nama Kota</label>
    <div class="col-md-8">
        <input type="text" disabled="disabled" value="@Model.NamaKota" name="NamaKota" class="form-control" />
        @Html.ValidationMessageFor(x => x.NamaKota, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">Harga</label>
    <div class="col-md-8">
        <input type="text" disabled="disabled" value="@decimal.ToInt32(Model.Harga)" id="harga-asal-kota" name="Harga" class="form-control" />
        @Html.ValidationMessageFor(x => x.Harga, "", new { @class = "text-danger" })
    </div>
</div>
