﻿@model Logistik.ViewModel.JenisPengirimanViewModel

<div class="form-group" style="display:none;">
    <div class="col-md-12">
        <label class="control-label col-md-3">Nama</label>
        <div class="col-md-8">
            <input type="text" readonly="readonly" value="@Model.Id" name="JenisPengirimanId" class="form-control" />
            @Html.ValidationMessageFor(x => x.Id, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-12">
        <label class="control-label col-md-3">Nama</label>
        <div class="col-md-8">
            <input type="text" disabled="disabled" value="@Model.Nama" name="NamaJenisPengiriman" class="form-control" />
            @Html.ValidationMessageFor(x => x.Nama, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-12">
        <label class="control-label col-md-3">Harga</label>
        <div class="col-md-8">
            <input type="text" disabled="disabled" value="@decimal.ToInt32(Model.Harga)" id="harga-jenis-pengiriman" name="HargaJenisPengiriman" class="form-control" />
            @Html.ValidationMessageFor(x => x.Harga, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
