﻿@model Logistik.ViewModel.KotaViewModel

@Html.HiddenFor(x => x.Id)

<div class="form-group">
    <label class="control-label col-md-4">Nama Kota</label>
    <div class="col-md-8">
        <input type="text" disabled="disabled" value="@Model.NamaKota" name="NamaKota" class="form-control" />
        @Html.ValidationMessageFor(x => x.Id, "", new { @class = "text-danger" })
    </div>
</div>
