﻿@model Logistik.ViewModel.KotaViewModel

@Html.HiddenFor(x => x.Id)

<div class="form-group">
    <div class="col-md-12">
        <label class="control-label col-md-3">Nama Kota</label>
        <div class="col-md-8">
            <input type="text" disabled="disabled" value="@Model.NamaKota" name="NamaKota" class="form-control" />
            @Html.ValidationMessageFor(x => x.Id, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-12">
        <label class="control-label col-md-3">Harga</label>
        <div class="col-md-8">
            <input type="text" disabled="disabled" value="@Model.Harga" name="Harga" class="form-control" />
            @Html.ValidationMessageFor(x => x.Id, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
