﻿@model IEnumerable<Logistik.ViewModel.PengirimanViewModel>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(x => item.KodePengiriman)</td>
        <td>@Html.DisplayFor(x => item.NamaJenisPengiriman)</td>
        <td>@Html.DisplayFor(x => item.TglPengiriman)</td>
        <td>@Html.DisplayFor(x => item.TotalHarga)</td>
        <td>@Html.DisplayFor(x => item.TotalBerat)</td>
        <td align="center" class="col-md-2">
            <a class="btn btn-primary btn-xs detail" title="Detail" href="@Url.Action("Detail", "Pengiriman", new { id = item.Id })" value="@item.Id"><i class="glyphicon glyphicon-eye-open"></i></a>
        </td>
    </tr>
}
