﻿@model IEnumerable<Logistik.ViewModel.JenisPengirimanViewModel>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-jenis-pengiriman", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-10">
                <select class="form-control" name="JenisPengirimanId" id="list-jenis-pengiriman">
                    <option value="">Pilih Jenis Pengiriman</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Nama</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <button type="button" id="find-jenis-pengiriman" class="btn btn-primary btn-md" title="Detail"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

    <div id="data-jenis-pengiriman">

    </div>

    <div class="modal-footer">
        <button type="reset" class="btn btn-default pull-left">Reset</button>
        <button type="button" id="btn-select-jenis-pengiriman" class="btn btn-primary">Submit</button>
    </div>
}
