﻿@model Logistik.ViewModel.BarangViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-tambah-barang", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2">Nama</label>
        <div class="col-md-10">
            <input type="text" id="NamaBarang" class="form-control" name="NamaBarang" />
        </div>
        @Html.ValidationMessageFor(x => x.NamaBarang, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Satuan</label>
        <div class="col-md-10">
            <input type="text" id="Satuan" class="form-control" name="Satuan" />
        </div>
        @Html.ValidationMessageFor(x => x.Satuan, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Berat</label>
        <div class="col-md-10">
            <input type="number" id="Berat" min="1" step="1" class="form-control" name="Berat" />
        </div>
        @Html.ValidationMessageFor(x => x.Berat, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Quantity</label>
        <div class="col-md-10">
            <input type="number" id="Qty" min="1" step="1" class="form-control" name="Qty" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Keterangan</label>
        <div class="col-md-10">
            <textarea name="Keterangan" id="Keterangan" rows="3" class="col-md-12"></textarea>
        </div>
        @Html.ValidationMessageFor(x => x.Keterangan, "", new { @class = "text-danger" })
    </div>

    <div class="modal-footer">
        <button type="reset" class="btn btn-default pull-left">Reset</button>
        <button type="button" id="btn-select-barang" class="btn btn-primary">Submit</button>
    </div>
}