﻿@model Logistik.ViewModel.PengirimanDetailViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header"></section>

<section class="invoice">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">
                Detail Pengiriman #@Model.KodePengiriman
                <small class="pull-right">Today: <span id="time"></span></small>
            </h2>
        </div>
    </div>
    <div class="row invoice-info">
        <div class="col-md-4 invoice-col">
            From
            <address>
                <strong>@Model.NamaPengirim</strong><br />
                @Model.KotaAsal,@Model.KodePosPengirim<br />
                Phone: @Model.NoTelpPengirim<br />
            </address>
        </div>
        <div class="col-md-4 invoice-col">
            To
            <address>
                <strong>@Model.NamaPenerima</strong><br />
                @Model.AlamatPenerima<br />
                @Model.KotaTujuan,@Model.KodePosPenerima<br />
                Phone: @Model.NoTelpPenerima<br />
            </address>
        </div>
        <div class="col-md-4 invoice-col">
            <b>Kode Pengiriman #@Model.KodePengiriman</b><br />
            <br />
            <b>Order ID:</b> @Model.PengirimanId<br />
            <b>Tanggal:</b> @Model.TglPengiriman.ToString("dd/MM/yyyy")<br />
            <b>Class:</b> @Model.NamaJenisPengiriman
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Qty</th>
                        <th>Nama Barang</th>
                        <th>Satuan</th>
                        <th>Berat</th>
                        <th>Keterangan</th>
                        <th>Sub Total</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.BarangDetail.Length; i++)
                    {
                        <tr>
                            <td>@Model.BarangDetail[i].Qty</td>
                            <td>@Model.BarangDetail[i].NamaBarang</td>
                            <td>@Model.BarangDetail[i].Satuan</td>
                            <td>@Model.BarangDetail[i].Berat</td>
                            <td>@Model.BarangDetail[i].Keterangan</td>
                            <td>@Model.BarangDetail[i].SubTotal</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <p class="lead">Total Pembayaran</p>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Total:</th>
                        <td>@Model.TotalHarga</td>
                    </tr>
                    <tr>
                        <th>Berat:</th>
                        <td>@Model.TotalBerat kg</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        var timestamp = '<?=time();?>';
        function updateTime() {
            $('#time').html(Date(timestamp));
            timestamp++;
        };

        $(function () {
            setInterval(updateTime, 1000);
        });
    </script>
}