﻿@model IEnumerable<Logistik.ViewModel.PengirimanViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Data Pengiriman</h3>
        <div class="box-tools">
            <a class="btn btn-success btn-sm" href="@Url.Action("Insert","Pengiriman")" id="btn-add" title="Create New Data"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Kode Pengiriman</th>
                    <th>Jenis Pengiriman</th>
                    <th>Tanggal Pengiriman</th>
                    <th>Total Harga</th>
                    <th>Total Berat</th>
                    <th class="col-md-1 text-center">Action</th>
                </tr>
            </thead>
            <tbody id="list-data">
                @Html.Partial("_List", Model)
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-input">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
