﻿@model Logistik.ViewModel.PengirimanDetailViewModel
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-pengiriman", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <section class="invoice">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header text-info">
                    Create Data Pengiriman
                    <small class="pull-right">@*Date: @DateTime.Now.ToString("dd-MM-yyyy hh:mm:ss tt")*@Today : <span id="time"></span></small>
                </h2>
            </div>
            <div class="col-md-4">
                <label class="control-label col-md-6">Kode Pengiriman</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="KodePengiriman" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4 class="text-info">Data Pengirim</h4><hr />
                <div class="form-group">
                    <label class="control-label col-md-4">Nama</label>
                    <div class="col-md-8">
                        <input type="text" name="NamaPengirim" class="form-control" />
                        @Html.ValidationMessageFor(x => x.NamaPengirim, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <button type="button" id="btn-pilih-kota-pengirim" class="btn btn-primary btn-sm">Pilih Asal Kota</button>
                    </div>
                </div>
                <div id="data-kota-pengirim-index">

                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Kode Pos</label>
                    <div class="col-md-8">
                        <input type="text" name="KodePosPengirim" class="form-control" />
                        @Html.ValidationMessageFor(x => x.KodePosPengirim, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">No Telp</label>
                    <div class="col-md-8">
                        <input type="text" name="NoTelpPengirim" class="form-control" />
                        @Html.ValidationMessageFor(x => x.NoTelpPengirim, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="text-info">Data Penerima</h4><hr />
                <div class="form-group">
                    <label class="control-label col-md-4">Nama</label>
                    <div class="col-md-8">
                        <input type="text" name="NamaPenerima" class="form-control" />
                        @Html.ValidationMessageFor(x => x.NamaPenerima, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4"></label>
                    <div class="col-md-8">
                        <button type="button" id="btn-pilih-kota-penerima" class="btn btn-primary btn-sm">Pilih Tujuan Kota</button>
                    </div>
                </div>
                <div id="data-kota-penerima-index">

                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Alamat</label>
                    <div class="col-md-8">
                        <textarea name="AlamatPenerima" rows="3" class="col-md-12"></textarea>
                        @Html.ValidationMessageFor(x => x.AlamatPenerima, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Kode Pos</label>
                    <div class="col-md-8">
                        <input type="text" name="KodePosPenerima" class="form-control" />
                        @Html.ValidationMessageFor(x => x.KodePosPenerima, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">No Telp</label>
                    <div class="col-md-8">
                        <input type="text" name="NoTelpPenerima" class="form-control" />
                        @Html.ValidationMessageFor(x => x.NoTelpPenerima, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="text-info">Jenis Pengiriman</h4><hr />
                <div class="form-group">
                    <label class="col-md-4">
                        <button type="button" id="btn-pilih-jenis-pengiriman" class="btn btn-primary btn-sm">Pilih Jenis Pengiriman</button>
                    </label>
                </div>
                <div id="data-jenis-pengiriman-index">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <button type="button" id="btn-tambah-barang" class="btn btn-success btn-sm">Tambah Barang <i class="glyphicon glyphicon-plus"></i></button>
            </div>
            <div class="col-md-12">
                <div class="form-group text-center">
                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-1">
                            <label class="control-label">Qty</label>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Nama Barang</label>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Satuan</label>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Berat</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Keterangan</label>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Sub Total</label>
                        </div>
                    </div>
                </div>
                <div id="list-barang">
                    <div class="form-group" style="display:none;">
                        <div class="col-md-12" id="item-barang">
                            <div class="col-md-1">
                                <input type="text" readonly="readonly" class="form-control barang" id="Qty__id__" name="BarangDetail[__id__].Qty" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" readonly="readonly" class="form-control barang" id="NamaBarang__id__" name="BarangDetail[__id__].NamaBarang" />
                            </div>
                            <div class="col-md-1">
                                <input type="text" readonly="readonly" class="form-control barang" id="Satuan__id__" name="BarangDetail[__id__].Satuan" />
                            </div>
                            <div class="col-md-1">
                                <input type="text" readonly="readonly" class="form-control barang" id="Berat__id__" name="BarangDetail[__id__].Berat" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" readonly="readonly" class="form-control barang" id="Keterangan__id__" name="BarangDetail[__id__].Keterangan" />
                            </div>
                            <div class="col-md-2 text-center">
                                <input type="text" readonly="readonly" class="form-control barang text-right" id="Total__id__" name="BarangDetail[__id__].SubTotal" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
                <div class="form-group">
                    <div class="col-md-4 pull-right">
                        <h4 class="text-info">Pembayaran</h4><hr />
                        <div class="col-md-4">
                            <label class="control-label">Total</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control text-right" readonly="readonly" id="sub-total" name="TotalHarga" type="text" />
                        </div>
                        <div class="col-md-8" style="display:none;">
                            <input class="form-control text-right" readonly="readonly" id="total-berat" name="TotalBerat" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" type="submit">Submit</button>
            </div>
        </div>
    </section>
}

<div class="modal fade" id="modal-input">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var index = $("#list-barang .item-barang").length;
            var hargaAsalKota = 0;
            var hargaTujuanKota = 0;
            var hargaJenisPengiriman = 0;
            var qty = 0;
            var berat = 0;
            var total = 0;
            var subTotal = 0;
            var totalBerat = 0;

            var timestamp = '<?=time();?>';
            function updateTime() {
                $('#time').html(Date(timestamp));
                timestamp++;
            };

            $(function () {
                setInterval(updateTime, 1000);
            });

            function hitungPembayaran(a, b, c, d, e) {
                hargaAsalKota = a;
                hargaTujuanKota = b,
                    hargaJenisPengiriman = c,
                    qty = d;
                berat = e;

                if (hargaTujuanKota - hargaAsalKota < 0) {
                    var temp = hargaAsalKota;
                    hargaAsalKota = hargaTujuanKota;
                    hargaTujuanKota = temp;
                }

                total = ((parseInt((hargaTujuanKota - hargaAsalKota), 10) + parseInt((hargaJenisPengiriman), 10)) * berat) * qty;
                return total;
            };

            function hitungTotalPembayaran() {
                subTotal = 0;
                for (var i = 0; i < index; i++) {
                    subTotal += hitungPembayaran(hargaAsalKota, hargaTujuanKota, hargaJenisPengiriman, $("#form-pengiriman").find("#Qty" + i + "").val(), $("#form-pengiriman").find("#Berat" + i + "").val());
                }
                return subTotal;
            };

            function hitungTotalBerat(a) {
                totalBerat += parseInt(a, 10);
                return totalBerat;
            };

            $("#form-pengiriman").on("submit", "#form-pengiriman", function () {
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    dataType: 'json',
                    data: $(this).serialize(),
                    success: function (data) {

                    }
                })
            });

            $("#modal-input").on("click", "#btn-select-barang", function () {
                $("#modal-input").modal("hide");
                var item = $("#item-barang").html().replace(/__id__/g, index);
                qty = $("#modal-input").find("#Qty").val();
                berat = $("#modal-input").find("#Berat").val();
                $("#list-barang").append('<div class="form-group"><div class="col-md-12">' + item + ' </div></div>');
                $("#form-pengiriman").find("#Qty" + index + "").val(qty);
                $("#form-pengiriman").find("#NamaBarang" + index + "").val($("#modal-input").find("#NamaBarang").val());
                $("#form-pengiriman").find("#Satuan" + index + "").val($("#modal-input").find("#Satuan").val());
                $("#form-pengiriman").find("#Berat" + index + "").val(berat);
                $("#form-pengiriman").find("#Keterangan" + index + "").val($("#modal-input").find("#Keterangan").val());
                $("#form-pengiriman").find("#Total" + index + "").val(hitungPembayaran(hargaAsalKota, hargaTujuanKota, hargaJenisPengiriman, qty, berat));
                index++;
                $("#form-pengiriman").find("#sub-total").val(hitungTotalPembayaran());
                $("#form-pengiriman").find("#total-berat").val(hitungTotalBerat(berat));
            });

            $("#btn-tambah-barang").click(function () {
                $.ajax({
                    url: '@Url.Action("TambahBarang", "Pengiriman")',
                    type: 'get',
                    dataType: 'html',
                    success: function (data) {
                        $("#modal-input").find(".modal-title").html("Tambah Data Barang");
                        $("#modal-input").find(".modal-body").html(data);
                        $("#modal-input").modal("show");
                    }
                })
            });

            $("#btn-pilih-jenis-pengiriman").click(function () {
                $.ajax({
                    url: '@Url.Action("ListJenisPengiriman","Pengiriman")',
                    type: 'get',
                    dataType: 'html',
                    success: function (data) {
                        $("#modal-input").find(".modal-title").html("Data Jenis Pengiriman");
                        $("#modal-input").find(".modal-body").html(data);
                        $("#modal-input").modal("show");
                    }
                })
            });

            $("#modal-input").on("click", "#find-jenis-pengiriman", function () {
                var vId = $("#list-jenis-pengiriman").val();
                $.ajax({
                    url: '@Url.Action("DataJenisPengiriman","Pengiriman")',
                    type: 'get',
                    dataType: 'html',
                    data: { id: vId },
                    success: function (data) {
                        $("#form-jenis-pengiriman").find("#data-jenis-pengiriman").html(data);
                    }
                })
            });

            $("#modal-input").on("click", "#btn-select-jenis-pengiriman", function () {
                var vId = $("#list-jenis-pengiriman").val();
                $.ajax({
                    url: '@Url.Action("DataJenisPengiriman","Pengiriman")',
                    type: 'get',
                    dataType: 'html',
                    data: { id: vId },
                    success: function (data) {
                        $("#modal-input").modal("hide");
                        $("#form-pengiriman").find("#data-jenis-pengiriman-index").html(data);
                        hargaJenisPengiriman = $("#form-pengiriman").find("#harga-jenis-pengiriman").val();
                        for (var i = 0; i < index; i++) {
                            $("#form-pengiriman").find("#Total" + i + "").val(hitungPembayaran(hargaAsalKota, hargaTujuanKota, hargaJenisPengiriman, $("#form-pengiriman").find("#Qty" + i + "").val(), $("#form-pengiriman").find("#Berat" + i + "").val()));
                        }
                        $("#form-pengiriman").find("#sub-total").val(hitungTotalPembayaran());
                    }
                })
            });

            $("#btn-pilih-kota-pengirim").click(function () {
                $.ajax({
                    url: '@Url.Action("ListKotaPengirim", "Pengiriman")',
                    type: 'get',
                    dataType: 'html',
                    success: function (data) {
                        $("#modal-input").find(".modal-title").html("Daftar List Kota");
                        $("#modal-input").find(".modal-body").html(data);
                        $("#modal-input").modal("show");
                    }
                })
            });

            $("#btn-pilih-kota-penerima").click(function () {
                $.ajax({
                    url: '@Url.Action("ListKotaPenerima", "Pengiriman")',
                    type: 'get',
                    dataType: 'html',
                    success: function (data) {
                        $("#modal-input").find(".modal-title").html("Daftar List Kota");
                        $("#modal-input").find(".modal-body").html(data);
                        $("#modal-input").modal("show");
                    }
                })
            });

            $("#modal-input").on("click", "#find-kota-pengirim", function () {
                var vId = $("#list-kota-pengirim").val();
                $.ajax({
                    url: '@Url.Action("DataKotaPengirim", "Pengiriman")',
                    type: 'get',
                    dataType: 'html',
                    data: { id: vId },
                    success: function (data) {
                        $("#form-kota-pengirim").find("#data-kota-pengirim").html(data);
                    }
                })
            });

            $("#modal-input").on("click", "#btn-select-kota-pengirim", function () {
                var vId = $("#list-kota-pengirim").val();
                $.ajax({
                    url: '@Url.Action("DataKotaPengirim", "Pengiriman")',
                    type: 'get',
                    dataType: 'html',
                    data: { id: vId },
                    success: function (data) {
                        $("#modal-input").modal("hide");
                        $("#form-pengiriman").find("#data-kota-pengirim-index").html(data);
                        hargaAsalKota = $("#form-pengiriman").find("#harga-asal-kota").val();
                        for (var i = 0; i < index; i++) {
                            $("#form-pengiriman").find("#Total" + i + "").val(hitungPembayaran(hargaAsalKota, hargaTujuanKota, hargaJenisPengiriman, $("#form-pengiriman").find("#Qty" + i + "").val(), $("#form-pengiriman").find("#Berat" + i + "").val()));
                        }
                        $("#form-pengiriman").find("#sub-total").val(hitungTotalPembayaran());
                    }
                })
            });

            $("#modal-input").on("click", "#find-kota-penerima", function () {
                var vId = $("#list-kota-penerima").val();
                $.ajax({
                    url: '@Url.Action("DataKotaPenerima", "Pengiriman")',
                    type: 'get',
                    dataType: 'html',
                    data: { id: vId },
                    success: function (data) {
                        $("#form-kota-penerima").find("#data-kota-penerima").html(data);
                    }
                })
            });

            $("#modal-input").on("click", "#btn-select-kota-penerima", function () {
                var vId = $("#list-kota-penerima").val();
                $.ajax({
                    url: '@Url.Action("DataKotaPenerima", "Pengiriman")',
                    type: 'get',
                    dataType: 'html',
                    data: { id: vId },
                    success: function (data) {
                        $("#modal-input").modal("hide");
                        $("#form-pengiriman").find("#data-kota-penerima-index").html(data);
                        hargaTujuanKota = $("#form-pengiriman").find("#harga-tujuan-kota").val();
                        for (var i = 0; i < index; i++) {
                            $("#form-pengiriman").find("#Total" + i + "").val(hitungPembayaran(hargaAsalKota, hargaTujuanKota, hargaJenisPengiriman, $("#form-pengiriman").find("#Qty" + i + "").val(), $("#form-pengiriman").find("#Berat" + i + "").val()));
                        }
                        $("#form-pengiriman").find("#sub-total").val(hitungTotalPembayaran());
                    }
                })
            });
        });
    </script>
}