﻿@model Logistik.ViewModel.GudangViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-gudang",@class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true,"",new {@class="text-danger" })
    <div class="form-group">
        @Html.LabelFor(model=>model.NoGudang,new {@class="control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model=>model.NoGudang,new {@class="form-control" })
            @Html.ValidationMessageFor(model=>model.NoGudang,"",new {@class="text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model=>model.Alamat,new {@class="control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model=>model.Alamat,new {@class="form-control" })
            @Html.ValidationMessageFor(model=>model.Alamat,"",new {@class="text-danger" })
        </div>
    </div>

    <div class="modal-footer">
        <button type="reset" class="btn btn-default pull-left">Cancel</button>
        <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </div>
}
