﻿@model Logistik.ViewModel.GudangViewModel
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id="form-gudang",@class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.Id)

        <p>Are you sure want to delete this&hellip;?</p>

        <div class="row col-md-offset-3">
            <div class="col-md-5">
                <label>Nomor Gudang</label>
            </div>
            @Html.DisplayFor(x => x.NoGudang)
        </div>
        <div class="row col-md-offset-3">
            <div class="col-md-5">
                <label>Alamat Gudang</label>
            </div>
            @Html.DisplayFor(x => x.Alamat)
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    }
