﻿@model Logistik.ViewModel.GudangViewModel

<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Nomor Gudang</label>
    </div>
    @Html.DisplayFor(x => x.NoGudang)
</div>
<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Alamat Gudang</label>
    </div>
    @Html.DisplayFor(x => x.Alamat)
</div>