﻿@model Logistik.ViewModel.GudangViewModel
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form-gudang", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true,"",new {@class="text-danger" })
        @Html.HiddenFor(x=>x.Id)

       <div class="form-group">
           @Html.LabelFor(x=>x.NoGudang,new {@class="col-md-3 control-label" })
           <div class="col-md-9">
               @Html.TextBoxFor(m=>m.NoGudang,new{@class="form-control" })
               @Html.ValidationMessageFor(x=>x.NoGudang,"",new {@class="text-danger" })
           </div>
       </div>

       <div class="form-group">
           @Html.LabelFor(x=>x.Alamat,new {@class="col-md-3 control-label" })
           <div class="col-md-9">
               @Html.TextBoxFor(m=>m.Alamat,new {@class="form-control" })
               @Html.ValidationMessageFor(x=>x.Alamat,"",new {@class="text-danger" })
           </div>
       </div>

       <div class="modal-footer">
           <button type="reset" class="btn btn-default pull-left">Reset</button>
           <button type="submit" class="btn btn-primary pull-right">Submit</button>
       </div>
    }
