﻿@model IEnumerable<Logistik.ViewModel.GudangViewModel>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoGudang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alamat)
        </td>
        <td class="text-center">
            <button type="button" class="btn btn-warning btn-xs detail" title="Detail" value="@item.Id"><i class="glyphicon glyphicon-eye-open"></i></button>
            <button type="button" class="btn btn-success btn-xs edit" title="Edit" value="@item.Id"><i class="glyphicon glyphicon-edit"></i></button>
            <button type="button" class="btn btn-danger btn-xs delete" title="Hapus" value="@item.Id"><i class="glyphicon glyphicon-trash"></i></button>
        </td>
    </tr>
}
