﻿@model IEnumerable<Logistik.ViewModel.GudangViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Data Gudang</h3>
        <div class="box-tools">
            <button class="btn btn-primary btn-sm" id="btn-add"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="box-body no-padding">
        <table class="table table-responsive table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NoGudang)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Alamat)
                    </th>
                    <th class="text-center col-md-2">Action</th>
                </tr>
            </thead>
            <tbody id="list-data">
                @Html.Partial("_List", Model)
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-input">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function loadData() {
            $.ajax({
                url: '@Url.Action("List","Gudang")',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#list-data").html(data);
                }
            });
            return false;
        };
        $("#list-data").on("click", ".detail", function () {
            var vId = $(this).val();
            $.ajax({
                url: '@Url.Action("Detail","Gudang")',
                type: 'get',
                data: { id: vId },
                dataType: 'html',
                success: function (data) {
                    $("#modal-input").find(".modal-title").html("Detail Gudang");
                    $("#modal-input").find(".modal-body").html(data);
                    $("#modal-input").modal("show");
                }
            });
            return false;
        });

        $("#btn-add").click(function () {
            $.ajax({
                url: '@Url.Action("Add","Gudang")',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#modal-input").find(".modal-title").html("Add Gudang");
                    $("#modal-input").find(".modal-body").html(data);
                    $("#modal-input").modal("show");
                }
            });
            return false;
        });

        $("#modal-input").on("submit", "#form-gudang", function () {
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                dataType: 'json',
                data: $(this).serialize(),
                success: function (data) {
                    if (data.message == 'success') {
                        $("#modal-input").modal("hide");
                        loadData();
                    } else {
                        $("#modal-input").find(".modal-body").html(data);
                    }
                }
            });
            return false;
        });

        $("#list-data").on("click", ".edit", function () {
            var vId = $(this).val();
            $.ajax({
                url: '@Url.Action("Edit","Gudang")',
                type: 'get',
                data: { id: vId },
                dataType: 'html',
                success: function (data)
                {
                    $("#modal-input").find(".modal-title").html("Edit Gudang");
                    $("#modal-input").find(".modal-body").html(data);
                    $("#modal-input").modal("show");
                }
            });
            return false;
        });

        $("#list-data").on("click", ".delete", function () {
            var vId = $(this).val();
            $.ajax({
                url: '@Url.Action("Delete","Gudang")',
                type: 'get',
                data: { id: vId },
                dataType: 'html',
                success: function (data)
                {
                    $("#modal-input").find(".modal-title").html("Delete Gudang");
                    $("#modal-input").find(".modal-body").html(data);
                    $("#modal-input").modal("show");
                }
            });
            return false;
        });
    </script>
}
