﻿@model Logistik.ViewModel.JenisPengirimanViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-jenis-pengiriman", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)

    <p>Are you sure want to delete this&hellip;?</p>

    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>Jenis Pengiriman</label>
        </div>
        @Html.DisplayFor(x => x.Nama)
    </div>
    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>Harga</label>
        </div>
        @Html.DisplayFor(x => x.Harga)
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
}