﻿@model Logistik.ViewModel.JenisPengirimanViewModel

<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Jenis Pengiriman</label>
    </div>
    @Html.DisplayFor(x => x.Nama)
</div>
<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Harga</label>
    </div>
    @Html.DisplayFor(x => x.Harga)
</div>