﻿@model Logistik.ViewModel.JenisPengirimanViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-jenis-pengiriman", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        <label class="control-label col-md-4">Jenis Pengiriman</label>
        <div class="col-md-8">
            @Html.EditorFor(x => x.Nama, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Nama, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Harga, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(x => x.Harga, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "5000" } })
            @Html.ValidationMessageFor(x => x.Harga, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="modal-footer">
        <button type="reset" class="btn btn-default pull-left">Reset</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
}
