﻿@model Logistik.ViewModel.JenisPengirimanViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-jenis-pengiriman", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-4">Jenis Pengiriman</label>
        <div class="col-md-8">
            <input type="text" name="Nama" class="form-control" />
            @Html.ValidationMessageFor(x => x.Nama, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4">Harga</label>
        <div class="col-md-8">
            <input type="number" name="Harga" class="form-control" min="5000" step="5000" />
            @Html.ValidationMessageFor(x => x.Harga, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="modal-footer">
        <button type="reset" class="btn btn-default pull-left">Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}
