﻿@model IEnumerable<Logistik.ViewModel.JenisPengirimanViewModel>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(x => item.Nama)</td>
        <td>@Html.DisplayFor(x => item.Harga)</td>
        <td align="center" class="col-md-2">
            <button type="button" class="btn btn-warning btn-xs detail" title="Detail" value="@item.Id"><i class="glyphicon glyphicon-eye-open"></i></button>
            <button type="button" class="btn btn-success btn-xs edit" title="Edit" value="@item.Id"><i class="glyphicon glyphicon-edit"></i></button>
            <button type="button" class="btn btn-danger btn-xs delete" title="Delete" value="@item.Id"><i class="glyphicon glyphicon-trash"></i></button>
        </td>
    </tr>
}
