﻿@model IEnumerable<Logistik.ViewModel.JenisPengirimanViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Data Jenis Pengiriman</h3>
        <div class="box-tools">
            <a class="btn btn-primary btn-sm" id="btn-add" title="Create New Data"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Jenis Pengiriman</th>
                    <th>Harga</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody id="list-data">
                @Html.Partial("_List", Model)
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-input">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function loadData() {
            $.ajax({
                url: '@Url.Action("List","JenisPengiriman")',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#list-data").html(data);
                }
            });
        };

        $("#btn-add").click(function () {
            $.ajax({
                url: '@Url.Action("Insert","JenisPengiriman")',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#modal-input").find(".modal-title").html("Tambah Jenis Pengiriman Baru");
                    $("#modal-input").find(".modal-body").html(data);
                    $("#modal-input").modal("show");
                }
            });
            return false;
        });

        $("#list-data").on("click", ".detail", function () {
            var vId = $(this).val();
            $.ajax({
                url: '@Url.Action("Detail","JenisPengiriman")',
                type: 'get',
                data: { id: vId },
                dataType: 'html',
                success: function (data) {
                    $("#modal-input").find(".modal-title").html("Detail Jenis Pengiriman");
                    $("#modal-input").find(".modal-body").html(data);
                    $("#modal-input").modal("show");
                }
            });
            return false;
        });

        $("#list-data").on("click", ".edit", function () {
            var vId = $(this).val();
            $.ajax({
                url: '@Url.Action("Edit","JenisPengiriman")',
                type: 'get',
                data: { id: vId },
                dataType: 'html',
                success: function (data) {
                    $("#modal-input").find(".modal-title").html("Edit Jenis Pengiriman");
                    $("#modal-input").find(".modal-body").html(data);
                    $("#modal-input").modal("show");
                }
            });
            return false;
        });

        $("#list-data").on("click", ".delete", function () {
            var vId = $(this).val();
            $.ajax({
                url: '@Url.Action("Delete","JenisPengiriman")',
                type: 'get',
                data: { id: vId },
                dataType: 'html',
                success: function (data) {
                    $("#modal-input").find(".modal-title").html("Delete Jenis Pengiriman");
                    $("#modal-input").find(".modal-body").html(data);
                    $("#modal-input").modal("show");
                }
            });
            return false;
        });

        $("#modal-input").on("submit", "#form-jenis-pengiriman", function () {
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                dataType: 'json',
                data: $(this).serialize(),
                success: function (data) {
                    if (data.message == "success") {
                        $("#modal-input").modal("hide");
                        loadData();
                    } else {
                        $("#modal-input").find("#modal-body").html(data);
                    }
                }
            });
            return false;
        });
    </script>
}
