﻿@model Logistik.ViewModel.PenerimaViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form-penerima", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.Id)
    <p class="text-center">Are sure to delete this data ?</p>

    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>Nama Penerima</label>
        </div>
        @Html.DisplayFor(x=>x.NamaPenerima)
    </div>

    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>Alamat Pengirim</label>
        </div>
        @Html.DisplayFor(x=>x.AlamatPenerima)
    </div>
    
    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>Nama Kota</label>
        </div>
        @Html.DisplayFor(x=>x.NamaKota)
    </div>

    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>Kode Pos</label>
        </div>
        @Html.DisplayFor(x=>x.KodePos)
    </div>

    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>No Telepon</label>
        </div>
        @Html.DisplayFor(x=>x.NoTelp)
    </div>

    <div class="modal-footer">
        <button type="reset" class="btn btn-default pull-left">Cancel</button>
        <button type="submit" class="btn btn-danger pull-right">Delete</button>
    </div>
}

