﻿@model Logistik.ViewModel.PenerimaViewModel
   
   <div class="row col-md-offset-3">
       <div class="col-md-5">
           <label>Nama Penerima</label>
       </div>
       @Html.DisplayFor(x=>x.NamaPenerima)
   </div>

<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Alamat Penerima</label>
    </div>
    @Html.DisplayFor(x=>x.AlamatPenerima)
</div>

<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Kota Tujuan</label>
    </div>
    @Html.DisplayFor(x=>x.NamaKota)
</div>

<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Nomor Telepon</label>
    </div>
    @Html.DisplayFor(x=>x.NoTelp)
</div>

<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Kode Pos</label>
    </div>
    @Html.DisplayFor(x => x.KodePos)
</div>

