﻿@model Logistik.ViewModel.PenerimaViewModel
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", @id = "form-penerima" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true,"",new{@class="text-danger" })
        @Html.HiddenFor(x=>x.Id)
        @Html.HiddenFor(x=>x.KotaTujuanId)

        <div class="form-group">
            @Html.LabelFor(x => x.NamaPenerima, new {@class="col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m=>m.NamaPenerima,new {@class="form-control" })
                @Html.ValidationMessageFor(x=>x.NamaPenerima,"",new {@class="text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x=>x.AlamatPenerima,new {@class="col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextAreaFor(m=>m.AlamatPenerima,new {@class="form-control" })
                @Html.ValidationMessageFor(x=>x.AlamatPenerima,"",new {@class="text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x=>x.KodePos,new {@class="col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m=>m.KodePos,new {@class="form-control" })
                @Html.ValidationMessageFor(x=>x.KodePos,"",new {@class="text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x=>x.NoTelp,new {@class="col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m=>m.NoTelp,new {@class="form-control" })
                @Html.ValidationMessageFor(x=>x.NoTelp,"",new {@class="text=danger" })
            </div>
        </div>

        <div class=" modal-footer">
            <button type="reset" class="btn btn-default pull-left">Reset</button>
            <button type="submit" class="btn btn-success pull-right">Edit</button>
        </div>
    }
