﻿@model Logistik.ViewModel.PenerimaViewModel
    @using (Html.BeginForm(null, null,FormMethod.Post, new { @class = "form-horizontal", id = "form-penerima" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true,"",new {@class="text-danger" })

        <div class="form-group">
            @Html.LabelFor(x=>x.NamaPenerima,new {@class="col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m=>m.NamaPenerima,new {@class="form-control" })
                @Html.ValidationMessageFor(x=>x.NamaPenerima,"",new {@class="text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x=>x.AlamatPenerima,new {@class="col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextAreaFor(m=>m.AlamatPenerima,new {@class="form-control" })
                @Html.ValidationMessageFor(x=>x.AlamatPenerima,"",new {@class="text-danger" })
            </div>
        </div>

        <div class="form-group">
           <label class="col-md-3"></label>
           <div class="col-md-9">
               <input type="radio" class="radio-kota1" id="radio-kota" name="radio-kota" value="1"/>Pilih Kota
               <input type="radio" class="radio-kota2" id="radio-kota" name="radio-kota" value="2"/>Tambah Kota Baru
           </div>
        </div>

        <div id="data-kota">

        </div>

        <div class="form-group">
            @Html.LabelFor(x=>x.KodePos,new {@class="col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m=>m.KodePos,new {@class="form-control" })
                @Html.ValidationMessageFor(x=>x.KodePos,"",new {@class="text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x=>x.NoTelp,new {@class="col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m=>m.NoTelp,new {@class="form-control" })
                @Html.ValidationMessageFor(x=>x.NoTelp,"",new {@class="text-danger" })
            </div>
        </div>

        <div class="modal-footer">
            <button type="reset" class="btn btn-default pull-left">Reset</button>
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </div>
    }
