﻿@model IEnumerable<Logistik.ViewModel.PenerimaViewModel>
    @foreach (var item in Model)
    {
       <tr>
           <td>@Html.DisplayFor(x=>item.NamaPenerima)</td>
           <td>@Html.DisplayFor(x=>item.AlamatPenerima)</td>
           <td>@Html.DisplayFor(x=>item.NamaKota)</td>
           <td>@Html.DisplayFor(x=>item.KodePos)</td>
           <td>@Html.DisplayFor(x=>item.NoTelp)</td>
           <td class="text-center">
               <button type="button" class="btn btn-warning btn-xs detail" title="View Data" value="@item.Id"><i class="glyphicon glyphicon-eye-open"></i></button>
               <button type="button" class="btn btn-success btn-xs edit" title="Edit Data" value="@item.Id"><i class="glyphicon glyphicon-edit"></i></button>
               <button type="button" class="btn btn-danger btn-xs delete" title="Delete Data" value="@item.Id"><i class="glyphicon glyphicon-trash"></i></button>
           </td>
       </tr>
    }
