﻿@model IEnumerable<Logistik.ViewModel.KotaViewModel>
    <div class="form-group">
        <label class="col-md-3 control-label">Nama Kota</label>
        <div class="col-md-9">
            <select class="form-control"name="KotaTujuanId">
                <option>Pilih Kota</option>
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.NamaKota</option>
                }
            </select>
        </div>
    </div>
