﻿@model Logistik.ViewModel.PenerimaViewModel

<div class="form-group">
    <label class="col-md-3 control-label">Kota</label>
    <div class="col-md-9">
        <input type="text" name="NamaKota" class="form-control"/>
        @Html.ValidationMessageFor(x=>x.NamaKota,"",new {@class="text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(x=>x.Harga,new {@class="col-md-3 control-label" })
    <div class="col-md-9">
        <input type="number" name="Harga" class="form-control" min="15000" step="5000"  />
        @Html.ValidationMessageFor(x=>x.Harga,"",new {@class="text-danger" })
    </div>
</div>
