﻿@model IEnumerable<Logistik.ViewModel.PenerimaViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Data Penerima</h3>
        <div class="box-tools">
            <a class="btn btn-primary btn-sm" id="btn-add" title="Create New Data"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <td>Nama Penerima</td>
                    <td>Alamat Penerima</td>
                    <td>Kota Tujuan</td>
                    <td>Kode Pos</td>
                    <td>No Telpon</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody id="list-data">
                @Html.Partial("_List",Model)
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-input">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        function loadData()
        {
            $.ajax(
                {
                    url:'@Url.Action("List","Penerima")',
                    type:'get',
                    dataType:'html',
                    success: function (data)
                    {
                        $("#list-data").html(data);
                    }
                });
        }

        $("#btn-add").click(function ()
        {
            $.ajax(
                {
                    url:'@Url.Action("Insert","Penerima")',
                    type:'get',
                    dataType:'html',
                    success: function (data)
                    {
                        $("#modal-input").find(".modal-title").html("Add Data Penerima");
                        $("#modal-input").find(".modal-body").html(data);
                        $("#modal-input").modal("show");
                    }
                });
            return false;
        });

        $("#modal-input").on("click", ".radio-kota1", function ()
        {
            $.ajax(
                {
                    url:'@Url.Action("PilihKota","Penerima")',
                    type:'get',
                    dataType:'html',
                    success: function (data)
                    {
                        $("#modal-input").find("#data-kota").html(data);
                    }
                });
            return false;
        });

        $("#modal-input").on("click", ".radio-kota2", function ()
        {
            $.ajax(
                {
                    url: '@Url.Action("TambahKota","Penerima")',
                    type: 'get',
                    dataType: 'html',
                    success: function (data)
                    {
                        $("#modal-input").find("#data-kota").html(data);
                    }
                });
            return false;
        });

        $("#list-data").on("click", ".detail", function ()
        {
            var vId = $(this).val();
            $.ajax(
                {
                    url:'@Url.Action("Detail","Penerima")',
                    type: 'get',
                    data: { id: vId },
                    dataType:'html',
                    success: function (data)
                    {
                        $("#modal-input").find(".modal-title").html("Detail Penerima");
                        $("#modal-input").find(".modal-body").html(data);
                        $("#modal-input").modal("show");
                    }
                });
            return false;
        });

        $("#list-data").on("click", ".edit", function ()
        {
            var vId = $(this).val();
            $.ajax(
                {
                    url:'@Url.Action("Edit","Penerima")',
                    type: 'get',
                    data: { id: vId },
                    dataType:'html',
                    success: function (data)
                    {
                        $("#modal-input").find(".modal-title").html("Edit Data Penerima");
                        $("#modal-input").find(".modal-body").html(data);
                        $("#modal-input").modal("show");
                    }
                });
            return false;
        });
        $("#list-data").on("click", ".delete", function ()
        {
            var vId = $(this).val();
            $.ajax(
                {
                    url:'@Url.Action("Delete","Penerima")',
                    type: 'get',
                    data: { id: vId },
                    dataType:'html',
                    success: function (data)
                    {
                        $("#modal-input").find(".modal-title").html("Delete Data Penerima");
                        $("#modal-input").find(".modal-body").html(data);
                        $("#modal-input").modal("show");
                    }
                });
            return false;
        });

        $("#modal-input").on("submit", "#form-penerima", function ()
        {
            $.ajax(
                {
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                    dataType:'json',
                    success: function (data)
                    {
                        if (data.message == 'success')
                        {
                            $("#modal-input").modal("hide");
                            loadData();
                        }
                        else
                        {
                            $("#modal-input").find("#modal-body").html(data);
                        }
                    }
                });
            return false;
        });
    </script>
    }
