﻿@model IEnumerable<Logistik.ViewModel.ReturViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Daftar Retur</h3>
            <div class="box-tools">
                <a class="btn btn-success" id="btn-add" title="Create New Data"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <td>Nomor Perjalanan</td>
                        <td>Tanggal Retur</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody id="list-data">

                </tbody>
            </table>
        </div>
    </div>
}

