﻿@model Logistik.ViewModel.ReturViewModel
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true,"",new {@class="text-danger" })

    <section class="invoice">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header text-info">
                    Create Data Retur
                    <small class="pull-right">Today:<span id="time"></span></small>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="col-md-2 control-label">Nomor Perjalanan</label>
                <div class="col-md-4">
                    <select class="form-control">
                        <option>Pilih Id Perjalanan</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h2 class="page-header text-info">Data Perjalanan</h2>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-4">Kode</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-4">Nama Kurir</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-4">Merk Kendaraan</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-4">Nomor Polisi</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-4 control-label">Tanggal Perjalanan</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success"><i class="fa fa-plus"></i></button>
            </div>
            <div class="col-md-12">
                <h2 class="page-header text-info">Data Barang</h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    <label class="control-label">Penerima</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Pengirim</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Satuan</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Berat</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Nama Barang</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Deskripsi</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><hr />
                <button class="pull-right btn btn-primary">Submit</button>
            </div>
        </div>
    </section>
}

