﻿@model Logistik.ViewModel.DriverViewModel

<div class="form-group">
    <label class="control-label col-md-5">Nama Driver</label>
    <div class="col-md-7">
        <input type="text" disabled="disabled" value="@Model.Nama" class="form-control" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-5">Alamat Driver</label>
    <div class="col-md-7">
        <input type="text" disabled="disabled" value="@Model.Alamat" class="form-control" />
    </div>
</div>
