﻿@model Logistik.ViewModel.PengirimanDetailViewModel

<div class="col-md-1">
    <button type="button" class="btn btn-success btn-xs" id="btn-tambah-perjalanan" title="Tambah ke Daftar Perjalanan"> Tambah ke Daftar Perjalanan <i class="fa fa-plus"></i></button>
</div>
<div class="col-md-12 table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Qty</th>
                <th>Nama Barang</th>
                <th>Satuan</th>
                <th>Berat</th>
                <th>Keterangan</th>
                <th>Sub Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BarangDetail)
            {
                <tr>
                    <td>@item.Qty</td>
                    <td>@item.NamaBarang</td>
                    <td>@item.Satuan</td>
                    <td>@item.Berat</td>
                    <td>@item.Keterangan</td>
                    <td>@item.SubTotal</td>
                </tr>
            }
        </tbody>
    </table>
</div>
