﻿@model Logistik.ViewModel.KendaraanViewModel

<div class="form-group">
    <label class="control-label col-md-5">Merk</label>
    <div class="col-md-7">
        <input type="text" disabled="disabled" value="@Model.Merk" class="form-control" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-5">No. Pol</label>
    <div class="col-md-7">
        <input type="text" disabled="disabled" value="@Model.NoPol" class="form-control" />
    </div>
</div>
