﻿@model Logistik.ViewModel.PengirimanDetailViewModel

<div style="display:none;">
    <input class="form-control" value="@Model.PengirimanId" id="PengirimanId__id__" name="ListPengiriman[__id__].Id" />
</div>
<div class="col-md-3">
    <input class="form-control" disabled="disabled" value="@Model.KodePengiriman" id="KodePengiriman__id__" />
</div>
<div class="col-md-2">
    <input class="form-control" disabled="disabled" value="@Model.NamaJenisPengiriman" id="JenisPengiriman__id__" />
</div>
<div class="col-md-3">
    <input class="form-control" disabled="disabled" value="@Model.TglPengiriman" id="TanggalPengiriman__id__" />
</div>
<div class="col-md-2">
    <input class="form-control" readonly="readonly" value="@Model.TotalBerat" id="TotalBerat__id__" />
</div>
<div class="col-md-2">
    <input class="form-control" disabled="disabled" value="@Model.TotalHarga" id="TotalHarga__id__" />
</div>
