﻿@model IEnumerable<Logistik.ViewModel.PerjalananViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Data Perjalanan</h3>
        <div class="box-tools">
            <a class="btn btn-success btn-sm" href="@Url.Action("Insert","Perjalanan")" id="btn-add" title="Create New Data"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Kode Perjalanan</th>
                    <th>Kurir</th>
                    <th>Kendaraan</th>
                    <th>Tanggal</th>
                    <th>Total Berat</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.KodePerjalanan</td>
                        <td>@item.NamaDriver</td>
                        <td>@item.MerkKendaraan - @item.NoPolKendaraan</td>
                        <td>@item.TglPerjalanan</td>
                        <td>@item.TotalBerat</td>
                        <td align="center">
                            <a class="btn btn-primary btn-xs detail" title="Detail" href="@Url.Action("Detail", "Perjalanan", new { id = item.Id })" value="@item.Id"><i class="glyphicon glyphicon-eye-open"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>