﻿@model Logistik.ViewModel.PerjalananDetailViewModel
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-perjalanan", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <section class="invoice">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header text-info">
                    Create Data Perjalanan
                    <small class="pull-right">@*Date: @DateTime.Now.ToString("dd-MM-yyyy hh:mm:ss tt")*@Today : <span id="time"></span></small>
                </h2>
            </div>
            <div class="col-md-4">
                <label class="control-label col-md-6">Kode Perjalanan</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="KodePerjalanan" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h4 class="text-info">Data Kurir</h4><hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Driver</label>
                            <div class="col-md-8">
                                <select class="form-control" id="select-driver" name="DriverId">
                                    <option value="">Pilih Driver</option>
                                    @if (Model.ListDriver != null)
                                    {
                                        foreach (var item in Model.ListDriver)
                                        {
                                            <option value="@item.Id">@item.Nama (@item.Status)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="data-driver">
                            <div class="form-group">
                                <label class="control-label col-md-5">Nama Driver</label>
                                <div class="col-md-7">
                                    <input type="text" disabled="disabled" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">Alamat Driver</label>
                                <div class="col-md-7">
                                    <input type="text" disabled="disabled" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Kendaraan</label>
                            <div class="col-md-8">
                                <select class="form-control" id="select-kendaraan" name="KendaraanId">
                                    <option value="">Pilih Kendaraan</option>
                                    @if (Model.ListKendaraan != null)
                                    {
                                        foreach (var item in Model.ListKendaraan)
                                        {
                                            <option value="@item.Id">@item.Merk - @item.NoPol (@item.Status)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="data-kendaraan">
                            <div class="form-group">
                                <label class="control-label col-md-5">Merk</label>
                                <div class="col-md-7">
                                    <input type="text" disabled="disabled" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">No. Pol</label>
                                <div class="col-md-7">
                                    <input type="text" disabled="disabled" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="text-info">Data Pengiriman</h4><hr />
                <div class="form-group">
                    <div class="col-md-12">
                        <select class="form-control" id="select-pengiriman">
                            <option value="">Pilih Kode Pengiriman</option>
                            @if (Model.ListPengiriman != null)
                            {
                                foreach (var item in Model.ListPengiriman)
                                {
                                    <option value="@item.Id">@item.KodePengiriman - @item.NamaJenisPengiriman (@item.TglPengiriman)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6">Jumlah Pengiriman</label>
                    <div class="col-md-3">
                        <input class="form-control" id="jml-pengiriman" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6">Total Berat</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="total-berat" name="TotalBeratPerjalanan" readonly="readonly" />
                    </div>
                    <label class="control-label">kg</label>
                </div>
            </div>
        </div>
        <div class="row" id="data-barang">

        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-info">Data Perjalanan</h4><hr />
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Kode Pengiriman</label>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Jenis Pengiriman</label>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Tanggal</label>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Total Berat</label>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Total Harga</label>
                        </div>
                    </div>
                </div>
                <div id="data-pengiriman">
                    <div class="form-group" id="item-pengiriman" style="display:none;">

                    </div>
                </div>
                <div id="list-perjalanan">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
                <button class="btn btn-primary pull-right" type="submit">Submit</button>
            </div>
        </div>
    </section>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            var index = $("#list-perjalanan #item-perjalanan").length;
            var totalBerat = 0;

            function hitungTotalBerat(a) {
                    totalBerat += parseInt(a, 10);
                return totalBerat;
            };

            $("#data-barang").on("click", "#btn-tambah-perjalanan", function () {
                var vId = $("#select-pengiriman").val();
                var item;
                var berat;

                $.ajax({
                    url: '@Url.Action("DataPengiriman","Perjalanan")',
                    type: 'get',
                    dataType: 'html',
                    data: { id: vId },
                    success: function (data) {
                        $("#data-pengiriman").find("#item-pengiriman").html(data);
                        item = $("#data-pengiriman").find("#item-pengiriman").html().replace(/__id__/g, index);
                        $("#list-perjalanan").append('<div class="form-group"><div class="col-md-12">' + item + '</div></div>');
                        $("#data-barang").hide();
                        berat = $("#TotalBerat" + index + "").val();
                        index++;
                        $("#form-perjalanan").find("#jml-pengiriman").val(index);
                        $("#form-perjalanan").find("#total-berat").val(hitungTotalBerat(berat));
                    }
                })
            });

            var timestamp = '<?=time();?>';
            function updateTime() {
                $('#time').html(Date(timestamp));
                timestamp++;
            };

            $(function () {
                setInterval(updateTime, 1000);
            });

            $("#select-driver").change(function () {
                var vId = $(this).val();
                $.ajax({
                    url: '@Url.Action("DataDriver","Perjalanan")',
                    type: 'get',
                    dataType: 'html',
                    data: { id: vId },
                    success: function (data) {
                        $("#data-driver").html(data);
                    }
                })
            });

            $("#select-kendaraan").change(function () {
                var vId = $(this).val();
                $.ajax({
                    url: '@Url.Action("DataKendaraan","Perjalanan")',
                    type: 'get',
                    dataType: 'html',
                    data: { id: vId },
                    success: function (data) {
                        $("#data-kendaraan").html(data);
                    }
                })
            });

            $("#select-pengiriman").change(function () {
                var vId = $(this).val();
                $.ajax({
                    url: '@Url.Action("DataBarang","Perjalanan")',
                    type: 'get',
                    dataType: 'html',
                    data: { id: vId },
                    success: function (data) {
                        $("#data-barang").html(data);
                        $("#data-barang").show();
                    }
                })
            });

            $("#form-perjalanan").on("submit", function () {
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    dataType: 'json',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.message == 'success') {

                        } else {
                            $("#form-perjalanan").html(data);
                        }
                    }
                })
            });
        });
    </script>
}