﻿@model Logistik.ViewModel.KendaraanViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", @id = "form-kendaraan" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <div class="form-group">
        @Html.LabelFor(x => x.Merk, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Merk, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Merk, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.NoPol, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.NoPol, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.NoPol, "", new { @class = "text-danger" })
        </div>
    </div>
    
        

        <div class="form-group">
            @Html.LabelFor(x => x.Status, new { @class = "col-md-3 text-right" })
            <div class="col-md-9">
                @Html.RadioButtonFor(x => x.Status, "Available", new { @class = "Radio-inline" })Available
                @Html.RadioButtonFor(x => x.Status, "On The Road", new { @class = "Radio-inline" })On The Road
            </div>
        </div>



        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </div>

}
