﻿@model Logistik.ViewModel.KendaraanViewModel
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", @id = "form-kendaraan" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.Id)

        <p>Are you sure to delete this&hellip;?</p>

        <div class="row col-md-offset-3">
            <div class="col-md-5">
                <label>Merek Kendaraan</label>
            </div>
            @Html.DisplayFor(x=>x.Merk)
        </div>

        <div class="row col-md-offset-3">
            <div class="col-md-5">
                <label>Nomor Polisi</label>
            </div>
            @Html.DisplayFor(x=>x.NoPol)
        </div>

        <div class="row col-md-offset-3">
            <div class="col-md-5">
                <label>Status</label>
            </div>
            @Html.DisplayFor(x=>x.Status)
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-danger pull-right">Delete</button>
            <button type="button"class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
        </div>
    }
