﻿@model Logistik.ViewModel.KendaraanViewModel
    
        <div class="row col-md-offset-3">
            <div class="col-md-5">
            <label>Merek Kendaraan</label>
            </div>
            @Html.DisplayFor(x=>x.Merk)
        </div>
        <div class="row col-md-offset-3">
            <div class="col-md-5">
                <label>Nomor Polisi</label>
            </div>
            @Html.DisplayFor(x=>x.NoPol)
        </div>
        <div class="row col-md-offset-3">
            <div class="col-md-5">
                <label>Status</label>
            </div>
            @Html.DisplayFor(x=>x.Status)
        </div>

    
