﻿@model Logistik.ViewModel.KendaraanViewModel
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", @id = "form-kendaraan" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true,"",new {@class="text-danger" })
        @Html.HiddenFor(x=>x.Id)

        <div class="form-group">
            @Html.LabelFor(x=>x.Merk,new {@class="col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m=>m.Merk,new {@class="form-control" })
                @Html.ValidationMessageFor(x=>x.Merk,"",new {@class="text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x=>x.NoPol,new {@class="control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(m=>m.NoPol,new {@class="form-control" })
                @Html.ValidationMessageFor(x=>x.NoPol,"",new {@class="text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x=>x.Status,new {@class="control-label col-md-3 text-right" })
            <div class="col-md-9">
                @Html.RadioButtonFor(x=>x.Status,"Available",new {@class="radio-inline" })Available
                @Html.RadioButtonFor(x=>x.Status,"On The Road",new {@class="radio-inline" })On The Road
            </div>
        </div>

        <div class="modal-footer">
            <button type="reset"class="btn btn-default pull-left">Reset</button>
            <button type="submit" class="btn btn-success pull-right">Save</button>
        </div>
    }
