﻿@model IEnumerable<Logistik.ViewModel.KendaraanViewModel>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem=>item.Merk)</td>
            <td>@Html.DisplayFor(modelItem=>item.NoPol)</td>
            <td>@Html.DisplayFor(modelItem=>item.Status)</td>
            <td class="text-center">
                <button type="button" class="btn btn-warning btn-xs detail" title="Detail" value="@item.Id"><i class="glyphicon glyphicon-eye-open"></i></button>
                <button type="button" class="btn btn-success btn-xs edit" title="Edit" value="@item.Id"><i class="glyphicon glyphicon-edit"></i></button>
                <button type="button" class="btn btn-danger btn-xs delete" title="Delete" value="@item.Id"><i class="glyphicon glyphicon-trash"></i></button>
            </td>
        </tr>
    }
