﻿@model Logistik.ViewModel.KotaViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", @id = "form-kota" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.Id)
<p>Are you sure you want to delete this?</p>
<div>
    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>Nama Kota</label>
        </div>
        @Html.DisplayFor(x => x.NamaKota)
    </div>

    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>Harga</label>
        </div>
        @Html.DisplayFor(x => x.Harga)
    </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger pull-right">Delete</button>
        </div>
   
</div>
}
