﻿@model Logistik.ViewModel.KotaViewModel

<div>
    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>Nama Kota</label>
        </div>
        @Html.DisplayFor(x=>x.NamaKota)
    </div>

    <div class="row col-md-offset-3">
        <div class="col-md-5">
            <label>Harga</label>
        </div>
        @Html.DisplayFor(x=>x.Harga)
    </div>
</div>
