﻿@model Logistik.ViewModel.KotaViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-kota", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.NamaKota, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.NamaKota, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NamaKota, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Harga, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Harga, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "20000", @step = "5000" } })
            @Html.ValidationMessageFor(model => model.Harga, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="modal-footer">
        <button type="reset" class="btn btn-default pull-left">Reset</button>
        <button type="submit" class="btn btn-success pull-right">Edit</button>
    </div>
}
