﻿@model IEnumerable<Logistik.ViewModel.KotaViewModel>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(x => item.NamaKota)
        </td>
        <td>
            @Html.DisplayFor(x => item.Harga)
        </td>
        <td class="text-center">
            <button type="button" class="btn btn-warning btn-xs detail" value="@item.Id" title="Detail">
                <i class="glyphicon glyphicon-eye-open" style="color:white"></i>
            </button>
            <button type="button" class="btn btn-success btn-xs edit" value="@item.Id" title="Edit">
                <i class="glyphicon glyphicon-edit" style="color:white"></i>
            </button>
            <button type="button" class="btn btn-danger btn-xs delete" value="@item.Id" title="Delete">
                <i class="glyphicon glyphicon-trash" style="color:white"></i>
            </button>
        </td>
    </tr>
}