﻿@model IEnumerable<Logistik.ViewModel.KotaViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Data Kota</h3>
        <div class="box-tools">
            <button class="btn btn-primary btn-sm" id="btn-add" title="Create New Data"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="box-body no-padding">
        <table class="table table-responsive table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NamaKota)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Harga)
                    </th>
                    <th class="text-center col-md-2">Action</th>
                </tr>
            </thead>
            <tbody id="list-data">
               @Html.Partial("_List",Model)
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-input">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function loadData() {
            $.ajax({
                url: '@Url.Action("List","Kota")',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#list-data").html(data);
                }
            });
        };

        $("#btn-add").click(function () {
            $.ajax({
                url: '@Url.Action("Add", "Kota")',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $('#modal-input').find('.modal-title').html("Kota Baru");
                    $('#modal-input').find('.modal-body').html(data);
                    $('#modal-input').modal('show');
                }
            });
            return false;
        });

        $("#list-data").on("click",".detail",function () {
            var vId = $(this).val();
            $.ajax({
                url: '@Url.Action("Detail","Kota")',
                type: 'get',
                data: { id: vId },
                dataType: 'html',
                success: function (data) {
                    $("#modal-input").find(".modal-title").html("Detail Kota");
                    $("#modal-input").find(".modal-body").html(data);
                    $("#modal-input").modal("show");
                }
            });
            return false;
        });

        $("#list-data").on("click",".edit",function () {
            var vId = $(this).val();
            $.ajax({
                url: '@Url.Action("Edit","Kota")',
                type: 'get',
                data: { id: vId },
                dataType: 'html',
                success: function (data) {
                    $("#modal-input").find(".modal-title").html("Edit Kota");
                    $("#modal-input").find(".modal-body").html(data);
                    $("#modal-input").modal("show");
                }
            });
            return false;
        });

        $("#list-data").on("click",".delete",function () {
            var vId = $(this).val();
            $.ajax({
                url: '@Url.Action("Delete","Kota")',
                type: 'get',
                data: { id: vId },
                dataType: 'html',
                success: function (data) {
                    $("#modal-input").find(".modal-title").html("Delete Kota");
                    $("#modal-input").find(".modal-body").html(data);
                    $("#modal-input").modal("show");
                }
            });
            return false;
        });

        $("#modal-input").on("submit", "#form-kota", function () {
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                dataType: 'json',
                data: $(this).serialize(),
                success: function (data) {
                    if (data.message == 'success') {
                        $("#modal-input").modal("hide");
                        loadData();
                    } else {
                        $("#modal-input").find("#modal-body").html(data);
                    }
                }
            });
            return false;
        });
    </script>
}