﻿@model Logistik.ViewModel.DriverViewModel
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", @id = "form-driver" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.Id)

        <p>Are you sure want to delete this&hellip;?</p>
         
        <div class="row col-md-offset-3">
            <div class="col-md-5">
                <label>Nama Driver</label>
            </div>
            @Html.DisplayFor(x=>x.Nama)
        </div>

        <div class="row col-md-offset-3">
            <div class="col-md-5">
                <label>Alamat</label>
            </div>
            @Html.DisplayFor(x=>x.Alamat)
        </div>

        <div class="row col-md-offset-3">
            <div class="col-md-5">
                <label>Tipe</label>
            </div>
            @Html.DisplayFor(x=>x.Tipe)
        </div>

        <div class="row col-md-offset-3">
            <div class="col-md-5">
                <label>Status</label>
            </div>
            @Html.DisplayFor(x=>x.Status)
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger pull-right">Delete</button>
        </div>
    }
