﻿@model Logistik.ViewModel.DriverViewModel

<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Nama Driver</label>
    </div>
    @Html.DisplayFor(x => x.Nama)
</div>

<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label> Alamat</label>
    </div>
    @Html.DisplayFor(x => x.Alamat)
</div>

<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Tipe</label>
    </div>
    @Html.DisplayFor(x => x.Tipe)
</div>

<div class="row col-md-offset-3">
    <div class="col-md-5">
        <label>Status</label>
    </div>
    @Html.DisplayFor(x => x.Status)
</div>
