﻿@model Logistik.ViewModel.DriverViewModel
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", @id = "form-driver" }))

    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true,"",new {@class="text-danger" })
        @Html.HiddenFor(x=>x.Id)
        
        <div class="form-group">
            @Html.LabelFor(x=>x.Nama,new {@class="control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(m=>m.Nama,new {@class="form-control" })
                @Html.ValidationMessageFor(x=>x.Nama,"",new {@class="text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x=>x.Alamat,new {@class="control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(m=>m.Alamat,new {@class="form-control" })
                @Html.ValidationMessageFor(x=>x.Alamat,"",new {@class="text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 text-right control-label">Tipe</label>
            <div class="col-md-9">
                <select class="form-control" name="Tipe">
                    <option value="">Pilih Tipe</option>
                    <option value="Driver">Driver</option>
                    <option value="Kurir">Kurir</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x=>x.Status,new {@class="col-md-3 control-label" })
            <div class="col-md-9">
                @Html.RadioButtonFor(x=>x.Status,"Availabe",new {@class="radio-inline" })Available
                @Html.RadioButtonFor(x=>x.Status,"On The Road",new {@class="radio-inline" })On The Road
            </div>
        </div>

        <div class="modal-footer">
            <button type="reset"class="btn btn-default pull-left">Cancel</button>
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </div>
    }
