﻿@model IEnumerable<Logistik.ViewModel.DriverViewModel>
@foreach (var item in Model)
{
   <tr>
       <td>@Html.DisplayFor(modelItem=>item.Nama)</td>
       <td>@Html.DisplayFor(modelitem=>item.Alamat)</td>
       <td>@Html.DisplayFor(modelItem=>item.Tipe)</td>
       <td>@Html.DisplayFor(modelItem=>item.Status)</td>
       <td class="text-center">
           <button type="button" class="btn btn-warning btn-xs detail" title="Detail" value="@item.Id"><i class="glyphicon glyphicon-eye-open"></i></button>
           <button type="button" class="btn btn-success btn-xs update" title="Edit" value="@item.Id"><i class="glyphicon glyphicon-edit"></i></button>
           <button type="button" class="btn btn-danger btn-xs delete" title="Delete" value="@item.Id"><i class="glyphicon glyphicon-trash"></i></button>
       </td>
   </tr>
}